@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.leftGradient {
  background: linear-gradient(to right, black, transparent);
}

.rightGradient {
  background: linear-gradient(to left, black, transparent);
}