.ticker {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.wrapper {
  display: inline-block;
}

.content {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  padding-right: 50px;
  animation: scroll 120s linear infinite; /* Increased from default to 120s */
  will-change: transform;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.gradientOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 64px;
  z-index: 10;
}

.leftGradient {
  left: 0;
  background: linear-gradient(to right, #00ADB5 60%, transparent);
}

.rightGradient {
  right: 0;
  background: linear-gradient(to left, #00ADB5 60%, transparent);
}
